<%- include('./partials/header.ejs') %>
    <div class="content">
        <div class="center-container">
            <div class="event-heading">
                <h3 class="dis-in-bl">About Us</h3>
            </div>
            <div class="m-60">
                <p>Welcome to Route Spotter.</p>
                <p>Route Spotter is a platform to organize, find, and attend group events. People use Route Spotter to meet new people, learn new things, find support, get out of their comfort zones, and pursue their passions, together. If you're down to meet awesome people, build a community, or find friends, then you belong here. We organise football stadium trips and hiking events</p>
                <p>You can go through the connections section to check the available connections.</p>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>
