<%- include('./partials/header.ejs') %>
    <div class="content">
        <div class="center-container">
            <div class="event-heading">
                <h3 class="dis-in-bl">Contact</h3>
            </div>
            <div class="m-60">
                <h3>Location</h3>
                <p>9259 South Myers Dr.Fleming Island, NC 32003</p>

                <h3>Our hours</h3>
                <p>9:00 AM – 5:00 PM EST</p>
                <p>Monday – Friday</p>

                <h3>Contact us</h3>
                <p>Phone: (543) 421-9875</p>
                <p>Email: vgirkar@uncc.edu</p>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>
