* {
    box-sizing: border-box;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  .content {
    min-height:650px;
    overflow:auto;
  }
  .header {
    overflow: hidden;
    background-color: darkcyan;
  }
  .header-right {
    float: right;
    margin-right: 50px;
    padding-top: 15px;
  }
  .m-100 {
    margin: 100px;
  }
  .m-80 {
    margin: 80px;
  }
  .ml-50 {
    margin: 10px 40px;
  }
  hr{
    height: 1px;
    background-color: #1fc45a;
    border: none;
    width: 95%
  }
  .logo{
    width:120px;
    height:60px;
  }
  .header ul,.footer ul {
    list-style:none;
  }
  .header ul li,.footer ul li{
    display:inline-block; 
    padding:0 7px; 
    position:relative;
    font-size: 15px;
  }
  .header ul li:not(:last-child)::after,.footer ul li:not(:last-child)::after{
    content:""; 
    border:1px solid #1fc45a;
    border-width: 1px 1px 0 0;
    position:absolute; 
    right:-3px; 
    top:0; 
    height:100%;
  }
  .header a {
    color: #eee9e9;
    text-decoration: none;
  }
  a{
    text-decoration: none;
  }

  /* footer css starts */
  .footer {
    padding:15px 0;
    background-color:darkcyan
    ;
  }
  .footer ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  .footer li {
    padding:0 10px;
  }
  .footer ul a {
    color:#eee9e9;
    text-decoration:none;
    opacity:0.8;
  }
  .footer ul a:hover {
    opacity:1;
  }
  .footer .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#eee9e9;
    margin-bottom:0;
  }
  /* footer css ends */

  input[type=text], input[type=date], input[type=time], input[type=url], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }
  form {
    width: 60%;
    margin: 0 auto;
  }

  .container {
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    padding: 20px;
  }
  .center-container{
    width: 80%;
    background-color:#f6f6f6;
    padding: 8px 12px;
    margin: 20px auto;
  }
  .listing{
    width: 80%;
    background-color:#ffffff;
    padding: 8px 12px;
    border-left: 4px solid #4CAF50;
    margin: 20px auto;
  }
  .listing h3{
    width: 95%;
    background-color:#d9ebd6;
    padding: 8px 12px;
    margin: 20px auto;
  }
  .event-image{
    width:220px;
    height:175px;
  }
  .event-heading{
    width: 95%;
    background-color:#ffffff;
    padding: 5px 15px;
    border-left: 4px solid #4CAF50;
    margin: 20px auto;
  }
  .mlr-50{
    margin-left: 50px;
    margin-right: 50px;
  }
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: .25rem;
  }
  .update-btn {
    background-color: #008CBA;
  } 
  .delete-btn {
    background-color: #f44336;
  }
  .submit-btn {
    background-color: #45a049;
  }
  .wrapper{
    display: flex;
    flex-direction: row;
    align-items: center
  }
  .event-image-div{
    display: inline-block;
    width: 30%;
  }
  .detail{
    display: inline-block; 
    width: 70%;
  }
  .description{
    width: 92%;
    margin: 0 auto;
    padding-top: 20px;
  }
  .event-heading h{
    display: inline-block;
  }
  .dis-in-bl{
    display: inline-block;
  }
  .float-right{
    float: right;
  }

  

  .listing ol {
    list-style: none;
    counter-reset: my-awesome-counter;
  }
  .listing li {
    counter-increment: my-awesome-counter;
    margin: 0.25rem;
  }
  .listing li::before {
    content: counter(my-awesome-counter);
    background: #662974;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    line-height: 2rem;
    color: white;
    text-align: center;
    margin-right: 0.5rem;
  }
  .listing ol ol li::before {
    background: #DE51FF;
  }
  .listing ol ol ol li::before {
    background: #EE9EFF;
  }
  .listing a{
    color: black;
  }

  .listing a:hover {
    text-decoration: underline;
  }
  
  .listing a:active {
    color: black;
  }
  .mt-20{
    margin-top: 20px;
  }
  textarea {
    height: 100px;
  }