<%- include('../partials/header.ejs') %>
<div class="content">
    <div class="center-container">
        <form action = '/connections' method = 'POST' class="mt-20">
            <label for="hiking">Favourite Hiking Desitination</label>
            <input type="text" id="hiking" name="hiking" placeholder="Enter Hiking Place..">

            <label for="topic">Topic</label>
            <input type="text" id="topic" name="topic" placeholder="Enter topic..">

            <label for="name">Title</label>
            <input type="text" id="name" name="name" placeholder="Enter title..">

            <label for="hostname">Host</label>
            <input type="text" id="hostname" name="hostname" placeholder="Enter host..">

            <label for="details">Detail</label>
            <textarea id="details" name="details" placeholder="Enter detail.."></textarea>

            <label for="location">Location</label>
            <input type="text" id="location" name="location" placeholder="Enter location..">
        
            <label for="date">Today's Date</label>
            <input type="date" id="date" name="date">

            <label for="startTime">Start Date</label>
            <input type="time" id="startTime" name="startTime">

            <label for="endTime">End Date</label>
            <input type="time" id="endTime" name="endTime">

            <label for="image">Image URL</label>
            <input type="url" id="image" name="image" placeholder="Enter image url..">
        
            <button class="button submit-btn mb-100">Create Connection</button>
        </form>
    </div>
</div>
<%- include('../partials/footer.ejs') %>