<%- include('./partials/header.ejs') %>
    <div class = "content">
        <div class="center-container error">
            <h3><%= error.status %>: &nbsp;<%= error.message %></h3> 
        </div>
    </div>
<%- include('./partials/footer.ejs') %>